body{
  margin: 0 auto;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  top: 0;
background: linear-gradient(to right, lightgreen , blue);
height: 80px;
margin-bottom: 40px;
display:flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;
z-index: 1;
font-size: 35px;
color: white;

}

.weather-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weather-list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.weather-day{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.temp-list{
  margin-top: 60px;
}

.weather-icon{
  height:120px;
  width: 120px;
}

.search{
  margin-bottom: 20px;
}
